<div class="container">
  <h3 style="width: 11%;  text-align: center; margin-top: 15px; background: #EEEEEE">投稿詳細</h3>
  <div class="row">
    <div class=" col-md-3">
      <%= image_tag @post.image, :size =>'150x150' %>
    </div>
    <div class="col-md-8">
      <table border="1" style="border-collapse: collapse">
        <tr>
          <td style="padding: 20px;">
            投稿名
          </td>
          <td style="padding: 10px">
            <%= @post.name %>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px;">
            作り方
          </td>
          <td style="padding: 10px">
            <%#= @post.sentence %>
            <%#=下記は改行を表示する%>
            <%=safe_join(@post.sentence.split("\n"),tag(:br))%>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px;">
            ジャンル
          </td>
          <td style="padding: 10px">
            <%= @post.genre_i18n %>
          </td>
        </tr>
      </table>
      <% if @post.customer == current_customer %>
      <div class="row" style="padding: 10px">
        <div class="text-center">
          <%= link_to "編集する", edit_post_path, class:"btn btn-sm btn-success" %>
        </div>
        <label>  　　　  　　　</label>
        <div class="text-center">
          <%= link_to "削除する", post_path, method: :delete, class:"btn btn-sm btn-danger" %>
        </div>
      </div>
      <% end %>
    </div>
    <% if customer_signed_in? %>
    <div>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :sentence, placeholder: "コメントをここに" %>
        <%= f.submit "コメントする" %>
      <% end %>
    </div>
    <div class="col-md-12">
      <p>コメント件数：<%= @post.comments.count %></p>
      <% @post.comments.each do |c| %>
        <table>
          <tr>
            <td class="col-md-auto">
              <%= c.customer.first_name %>
            </td>
            <td class="col-md-auto">
              <%#= c.sentence %>
              <%=safe_join(c.sentence.split("\n"),tag(:br))%>
            </td>
            <td class="col-md-auto">
              <% if c.customer == current_customer %>
                <%= link_to "削除", post_comment_path(params[:id], c.id), method: :delete, class:"btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
    <% end %>
  </div>
</div>