<div class="container">
  <h3 style="width: 11%;  text-align: center; margin-top: 15px; background: #EEEEEE">投稿詳細</h3>
  <div class="row">
    <table>
      <div class=" col-md-3">
        <%= image_tag @post.image, :size =>'150x150' %>
      </div>
      <div class="col-md-8">
        <tr>
          <td style="padding-right: 50px;">
            投稿名
          </td>
          <td>
            <%= @post.name %>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 50px;">
            作り方
          </td>
          <td>
            <%= @post.sentence %>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 50px;">
            ジャンル
          </td>
          <td>
            <%= @post.genre_i18n %>
          </td>
        </tr>
      </div>
      <% if customer_signed_in? %>
      <div>
        <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |c| %>
          <p><%= image_tag c.customer.get_profile_image(100,100) %></p>
          <%= c.name %>
          <%= c.created_at.strftime('%Y/%m/%d') %><%= c.comment %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントをここに" %>
          <%= f.submit "コメントする" %>
        <% end %>
      </div>
      <% end %>
    </table>
  </div>
  <% if customer_signed_in? %>
  <div class="row">
    <div class="text-center">
      <%= link_to "編集する", edit_post_path, class:"btn btn-sm btn-success" %>
    </div>
    <label>  　　　  　　　</label>
    <div class="text-center">
      <%= link_to "削除する", post_path, method: :delete, class:"btn btn-sm btn-danger" %>
    </div>
  </div>
  <% end %>
</div>