<div class="container">
  <div class="row" style="margin: 40px">
    <h3 class="text-center">
      <b>投稿情報</b>
    </h3>
  </div>
  <div class="row">
    <% @posts.each do |f| %>
    <div class="col-md-4">
      <div style="margin: 30px 0px;">
        <div class="margin: 10px;">
          <%= link_to admins_post_path(f.id), class: 'text_light' do %>
            <%= image_tag f.image, :size => '200x150', class:"margin:10px;" %>
          <% end %>
        </div>
        <div class="margin: 10px;"><%= f.name %></div>
        <div class="margin: 10px;"><%= f.genre_i18n %></div>
        <div class="margin: 10px;">
          <p>いいね数：<%= f.likes.count %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
